@charset "utf-8";

/* estilo screen */
*{
    margin: 0px;
    padding: 0px;
}

h1 , p {
    margin: 10px;
    text-align: justify;
}

ul {
    background-color: grey;
}

a {
    text-decoration: none;
    
}

li {
    display: inline-block;
    margin-left: 5px;
    background-color: lightgray;
    padding: 5px;
}